.logo-event{
    padding: 5px;
width: 200px;
}
.parallelogramme{
    -webkit-transform:skew(-30deg);
    -moz-transform:skew(-30deg);
    -o-transform:skew(-30deg);
    transform:skew(-30deg);
    padding-left: 20px;
    padding-right: 20px;

}
.anti-skew {
    -webkit-transform:skew(30deg);
    -moz-transform:skew(30deg);
    -o-transform:skew(30deg);
    transform:skew(30deg);
}

