{% if app.user %}
    {% set base ='baseback.html.twig' %}
{% else %}
    {% set base = 'base.html.twig' %}
{% endif %}
    {% extends base %}

{% block title %}Hello LobbyController!{% endblock %}

{% block body %}


    {% for event in Events %}
        <div class="container">
            <div class="row">
                <div class="col s6 m6 l6">
                    {{ event.name }}
                </div>
                <div class="col s6 m6 l6">
                    <a class="btn " href="{{ path ('event_edit',{'id':event.id}) }}">
                        <span>S'inscrire</span>
                        <i class="material-icons right">assignment</i>
                    </a>

                </div>
            </div>
        </div>
    {% endfor %}
    <div class="container">
        <a href="{{ path ('event_create')}}">Créer un évenement</a>
    </div>
{% endblock %}
