{% extends 'base.html.twig' %}

{% block title %}Hello FieldController!{% endblock %}

{% block body %}
    {% for field in EventFields %}
<h1>{{ field.name }}</h1>


    {% endfor %}
    <a href="{{ path ('field_create',{'id':event.id}) }}" class="btn-floating green"></a>
{% endblock %}
