<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<table>

</table>
<h1>votre espace</h1>
{% block body %}

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
